@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --animate-blur-in-out: blurOut 0.5s ease-in-out forwards, pulse 1s ease-in-out infinite 0.5s;
    --animate-blur-in: blurIn 1s ease-in-out forwards;
    --animate-blur-out: blurOut 1s ease-in-out forwards;
    --animate-pulse: pulse 1s ease-in-out infinite;
    --animate-bounce-in: bounceIn 0.5s ease-in-out forwards;
    --animate-blur-wiggle-in: blurIn 1s ease-in-out forwards, wiggle 1.5s ease-in-out forwards;

    @keyframes pulse {
        0%,
        100% {
            opacity: 0;
            filter: blur(15px);
        }
        50% {
            opacity: 0.5;
            filter: blur(10px);
        }
    }
    @keyframes blurIn {
        0% {
            opacity: 0;
            filter: blur(10px);
        }
        100% {
            opacity: 1;
            filter: blur(0);
        }
    }
    @keyframes blurOut {
        0% {
            opacity: 1;
            filter: blur(0);
        }
        100% {
            opacity: 0;
            filter: blur(10px);
        }
    }

    @keyframes bounceIn {
        0% {
            transform: scale(0.95);
        }
        60% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes wiggle {
        0% {
            transform: translateX(0);
        }
        15% {
            transform: translateX(-8px);
        }
        30% {
            transform: translateX(8px);
        }
        45% {
            transform: translateX(-6px);
        }
        60% {
            transform: translateX(6px);
        }
        75% {
            transform: translateX(-4px);
        }
        90% {
            transform: translateX(4px);
        }
        100% {
            transform: translateX(0);
        }
    }
}

/* @custom-variant dark (&:is(.dark *)); */
@custom-variant theme-light (&:is(.theme-light *));
@custom-variant dark (&:is(.dark *));
@custom-variant theme-sepia (&:is(.theme-sepia *));
@custom-variant theme-blue (&:is(.theme-blue *));
@custom-variant theme-green (&:is(.theme-green *));

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --radius: 0.625rem;
    --destructive: #ff0000;
    --destructive-foreground: #fff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
}

.font-theme-serif {
    font-family: 'Literata', serif;
}
.font-theme-sans {
    font-family: 'Inter', sans-serif;
}
.font-theme-mono {
    font-family: 'IBM Plex Mono', monospace;
}
.font-theme-accessible {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

@theme inline {
    /* theme-light */
    --color-theme-light-50: #ffffff;
    --color-theme-light-100: #fafafa;
    --color-theme-light-200: #f5f5f5;
    --color-theme-light-300: #ededed;
    --color-theme-light-400: #e5e5e5;
    --color-theme-light-500: #dddddd;
    --color-theme-light-600: #c6c6c6;
    --color-theme-light-700: #afafaf;
    --color-theme-light-800: #989898;
    --color-theme-light-900: #7a7a7a;
    --color-theme-light-950: #666666;

    /* dark */
    --color-dark-50: #666666;
    --color-dark-100: #5a5a5a;
    --color-dark-200: #4c4c4c;
    --color-dark-300: #3f3f3f;
    --color-dark-400: #353535;
    --color-dark-500: #2a2a2a;
    --color-dark-600: #242424;
    --color-dark-700: #1c1c1c;
    --color-dark-800: #151515;
    --color-dark-900: #0e0e0e;
    --color-dark-950: #070707;

    /* theme-sepia */
    --color-theme-sepia-50: #fffaf2;
    --color-theme-sepia-100: #fff5e9;
    --color-theme-sepia-200: #fdebd8;
    --color-theme-sepia-300: #fbe1c8;
    --color-theme-sepia-400: #f9d9ba;
    --color-theme-sepia-500: #f9efda;
    --color-theme-sepia-600: #e1cfbb;
    --color-theme-sepia-700: #c8b19e;
    --color-theme-sepia-800: #af947f;
    --color-theme-sepia-900: #967664;
    --color-theme-sepia-950: #7d5e4f;

    /* theme-blue */
    --color-theme-blue-50: #f5f9fc;
    --color-theme-blue-100: #eaf2f8;
    --color-theme-blue-200: #dce6ef;
    --color-theme-blue-300: #cfdbeb;
    --color-theme-blue-400: #c4d3e6;
    --color-theme-blue-500: #ddebf4;
    --color-theme-blue-600: #b4cde0;
    --color-theme-blue-700: #8db0cb;
    --color-theme-blue-800: #678eb2;
    --color-theme-blue-900: #4a6f8f;
    --color-theme-blue-950: #2b3440;

    /* theme-green */
    --color-theme-green-50: #f2f9f2;
    --color-theme-green-100: #e5f3e5;
    --color-theme-green-200: #d6ebd7;
    --color-theme-green-300: #c8e2ca;
    --color-theme-green-400: #b9dabd;
    --color-theme-green-500: #cce6d0;
    --color-theme-green-600: #aac2af;
    --color-theme-green-700: #8ca08f;
    --color-theme-green-800: #6e7f70;
    --color-theme-green-900: #556258;
    --color-theme-green-950: #3d4b43;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --shadow-color: color-mix(in srgb, var(--background), black 20%);
}

:root,
.theme-light {
    --background: #fff;
    --foreground: #222;
    --card: #fff;
    --card-foreground: #222;
    --popover: #fff;
    --popover-foreground: #222;
    --primary: #1e78ba;
    --primary-foreground: #fff;
    --secondary: #f5f5f5;
    --secondary-foreground: #222;
    --muted: #f5f5f5;
    --muted-foreground: #666;
    --accent: #e0e7ff;
    --accent-foreground: #1e78ba;
    /* --destructive: #ffeded;
    --destructive-foreground: #b91c1c; */
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #1e78ba;
    --sidebar: #fff;
}

.dark {
    --background: #242424;
    --foreground: #fff;
    --card: #23272f;
    --card-foreground: #fff;
    --popover: #23272f;
    --popover-foreground: #fff;
    --primary: #60a5fa;
    --primary-foreground: #23272f;
    --secondary: #2d3748;
    --secondary-foreground: #fff;
    --muted: #2d3748;
    --muted-foreground: #a0aec0;
    --accent: #334155;
    --accent-foreground: #60a5fa;
    /* --destructive: #7f1d1d;
    --destructive-foreground: #fff; */
    --border: #3a3a3a;
    --input: #3a3a3a;
    --ring: #60a5fa;
}
.theme-sepia {
    --background: #f9efda;
    --foreground: #594334;
    --card: #f5e6c8;
    --card-foreground: #594334;
    --popover: #f5e6c8;
    --popover-foreground: #594334;
    --primary: #b08968;
    --primary-foreground: #fff;
    --secondary: #f5e6c8;
    --secondary-foreground: #594334;
    --muted: #f5e6c8;
    --muted-foreground: #7c5e4a;
    --accent: #e6ccb2;
    --accent-foreground: #b08968;
    /* --destructive: #eabf99;
    --destructive-foreground: #7c5e4a; */
    --border: #e6ccb2;
    --input: #e6ccb2;
    --ring: #b08968;
}
.theme-blue {
    --background: #ddebf4;
    --foreground: #2b3440;
    --card: #c7d7e6;
    --card-foreground: #2b3440;
    --popover: #c7d7e6;
    --popover-foreground: #2b3440;
    --primary: #1e78ba;
    --primary-foreground: #fff;
    --secondary: #b6cbe1;
    --secondary-foreground: #2b3440;
    --muted: #b6cbe1;
    --muted-foreground: #4b5c6b;
    --accent: #a7c7e7;
    --accent-foreground: #1e78ba;
    /* --destructive: #e0b4b4;
    --destructive-foreground: #7c2d12; */
    --border: #b6cbe1;
    --input: #b6cbe1;
    --ring: #1e78ba;
}
.theme-green {
    --background: #cce6d0;
    --foreground: #3d4b43;
    --card: #b2d8b6;
    --card-foreground: #3d4b43;
    --popover: #b2d8b6;
    --popover-foreground: #3d4b43;
    --primary: #3ba66b;
    --primary-foreground: #fff;
    --secondary: #a3cfa6;
    --secondary-foreground: #3d4b43;
    --muted: #a3cfa6;
    --muted-foreground: #4b5c4b;
    --accent: #b2d8b6;
    --accent-foreground: #3ba66b;
    /* --destructive: #e0b4b4;
    --destructive-foreground: #7c2d12; */
    --border: #a3cfa6;
    --input: #a3cfa6;
    --ring: #3ba66b;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
